<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="TelescopeTempControl.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <TelescopeTempControl.Properties.Settings>
            <setting name="LogLevel" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="RefreshInterval" serializeAs="String">
                <value>4500</value>
            </setting>
            <setting name="MaxPointsOnGraph" serializeAs="String">
                <value>4320</value>
            </setting>
            <setting name="MaxLogLines" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="MaxProgLogLines" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="comport" serializeAs="String">
                <value>COM11</value>
            </setting>
            <setting name="Setting" serializeAs="String">
                <value />
            </setting>
            <setting name="ComWatchdog" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="logFileLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="SerialLogFileLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="CSVFileLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="logFileFlag" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SerialLogFileFlag" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CSVFileFlag" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UpgradeRequired" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TempDelta_Main_Target" serializeAs="String">
                <value>0.2</value>
            </setting>
            <setting name="TempDelta_Second_Target" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="TempDelta_Main_MaxEffort" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="TempDelta_Second_MaxEffort" serializeAs="String">
                <value>0.1</value>
            </setting>
            <setting name="SendDataInterval" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="Curve_Main_a" serializeAs="String">
                <value>-23.977</value>
            </setting>
            <setting name="Curve_Main_b" serializeAs="String">
                <value>108.3</value>
            </setting>
            <setting name="Curve_Main_c" serializeAs="String">
                <value>-20.7</value>
            </setting>
            <setting name="TempDelta_Main_DewRiskZone" serializeAs="String">
                <value>0.1</value>
            </setting>
            <setting name="Curve_Second_a" serializeAs="String">
                <value>-27.2</value>
            </setting>
            <setting name="Curve_Second_b" serializeAs="String">
                <value>4.3</value>
            </setting>
            <setting name="Curve_Second_c" serializeAs="String">
                <value>100</value>
            </setting>
        </TelescopeTempControl.Properties.Settings>
    </userSettings>
</configuration>
